.blocks{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.classification{
  text-align: center;
  font-weight: 600;
}

.code{
  width: 10%;
}

.price{
  width: 45%;
}

.changes{
  width: 45%;
}